{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 100,
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^node:(.*)$",
        "<THIRD_PARTY_MODULES>",
        "^@src/modules/(.*)$",
        "^@src/plugins/(.*)$",
        "^@src/routes/(.*)$",
        "^@src/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
